{{ define "main" }}

  <main class="pageNotFound">
    <div>
     <h1 class="title">{{ i18n "page_not_found" }}</h1>
    </div>
    <div>
      <p>{{ i18n "page_does_not_exist" }}</p>
      <p>{{ i18n "head_back" .Site.BaseURL | safeHTML }}</p>
    </div>
  </main>

{{ end }}
